.common {
	-inkscape-font-specification:Carlito;
	font-family: Carlito;
	line-height: 1.1;
	stroke-width: 0.264583;
	text-align: center;
	text-anchor: middle;
}
.common tspan {
	x: 0;
}
.p12 {
	-inkscape-font-specification:'Carlito Bold';
	fill: #000000;
	font-weight: bold;
}
.p1 {
	font-size: 28px;
}
.p2 {
	font-size: 20px;
}
.p3 {
	fill: #4d4d4d;
	font-size: 16px;
}