.common {
	-inkscape-font-specification:Carlito;
	font-family: Carlito;
}
.p12 {
	-inkscape-font-specification:'Carlito Bold';
	fill: #000000;
	font-weight: bold;
}
.p1 {
	font-size: 28px;
}
.p2 {
	font-size: 20px;
}
.p3 {
	fill: #4d4d4d;
	font-size: 16px;
}